<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="{{baseUrl}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

</head>
<body>

  <div class="page">

    <div class="page-left">
      <ul class="nav flex-column py-4">
        <li class="nav-item">
          <a class="nav-link" href="{{baseUrl}}application">Application</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{baseUrl}}animation-frame">AnimationFrame</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{baseUrl}}ctx2d">Ctx2D</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{baseUrl}}ctx2d-prerender">Ctx2DPrerender</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{baseUrl}}custom-cursor">CustomCursor</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{baseUrl}}custom-scroll">CustomScroll</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{baseUrl}}dragger-direction">DraggerDirection</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{baseUrl}}dragger-move">DraggerMove</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{baseUrl}}marquee">Marquee</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{baseUrl}}preloader">Preloader</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{baseUrl}}progress-preloader">ProgressPreloader</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{baseUrl}}scrollbar">ScrollBar</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{baseUrl}}section-scroll-progress">SectionScrollProgress</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{baseUrl}}slide-progress">SlideProgress</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{baseUrl}}scroll-view">ScrollView</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{baseUrl}}split-text">SplitText</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{baseUrl}}timeline">Timeline</a>
        </li>
      </ul>
    </div>

    <div class="page-right">
      <div class="container p-4">

        {{{innerHTML}}}

      </div>
    </div>

  </div>

</body>
</html>